$message-text-color-light: #1d1c1d;
$message-hover-light: #f8f8f8;
$chat-background-light: inherit;

$message-text-color-dark: #dcddde;
$message-hover-dark: #1f1f1f;
$chat-background-dark: #222222;

$sidebar-primary-background-color: #2D2D2D;
$sidebar-header-background-color: $sidebar-primary-background-color;
$sidebar-footer-background-color: $sidebar-primary-background-color;

$sidebar-servers-background-color: #171717;