/**
 * @file
 * Handles Chat Input styling
 */

[class|="channelTextArea"] {
	padding-top: 0px;
	border: 0 !important;
}

.theme-dark {
	[class*="chat-"] > div > div > form,
	[class|="typing"] {
	 	background-color: $chat-background-dark !important;
	}

	[class*="chat-"] > div > div > form textarea,
	[class|="autocomplete"] {
	 	background-color: $input-background-dark !important;
	}
}

.theme-light {
	[class*="chat-"] > div > div > form,
	[class|="typing"] {
	 	background-color: $chat-background-light !important;
	}

	[class*="chat-"] > div > div > form textarea,
	[class|="autocomplete"] {
	 	background-color: $input-background-light !important;
	}
}