.theme-dark {
	[class|="quickswitcher"] {
		background-color: $chat-background-dark;
	}

	[class|="quickswitcher"] input,
	[class|="quickswitcher"] [class|="resultFocused"] {
		background-color: $input-background-dark;
	}
}

.theme-light {
	[class|="quickswitcher"] {
		background-color: $chat-background-light;
	}

	[class|="quickswitcher"] input,
	[class|="quickswitcher"] [class|="resultFocused"] {
		background-color: $input-background-light;
	}
}
